@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --primary-col: #EAC435;
    --secondary-col: #22181C;
    --tertiary-col: #03CEA4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-col);
}

body .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

body .flex h1, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body .flex h1 {  
    color: var(--secondary-col);
}

body .flex h2 {
    color: var(--tertiary-col);
    background-color: var(--secondary-col);
    padding: 0 1em;
    box-sizing: border-box;
    text-align: center;
}

body form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    flex-direction: column;
    border: 5px solid var(--tertiary-col);
    padding: .5em;
}

body form input[type="text"] {
    padding: .5em;
    border: none;
    border-bottom: 2px solid var(--tertiary-col);
    background-color: var(--secondary-col);
    color: var(--tertiary-col);
    font-family: 'Fira Code', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    outline: none;
}

body form input[type="submit"], button {
    padding: .5em;
    border: none;
    background-color: var(--tertiary-col);
    color: var(--secondary-col);
    font-family: 'Fira Code', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

body form input[type="submit"]:hover, button:hover {
    background-color: var(--secondary-col);
    color: var(--tertiary-col)
}

body ul {
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
    font-family: 'Fira Code', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    background-color: var(--tertiary-col);
    color: var(--secondary-col);
    margin: 0;
    padding: 0;
}