<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Live Chat using Flask and SocketIO | Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='room-style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="flex">
        <h1>Room: {{ room }}</h1>
        <div class="messages">
            <form class="send-msg">
                <input type="text" 
                       name="msg-to-send" 
                       id="msg-to-send" class="msg-to-send"
                       placeholder="Hello World?">
                <input type="button" value="Send" onclick="SendMessage()">
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='room-script.js') }}"></script>
</body>
</html>